# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties
!gradle/wrapper/gradle-wrapper.properties

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.zip
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode